<footer>
    <div class="footer-inner">

        <!-- Quick Links -->
        <div class="footer-nav">
            <h3>Quick Links</h3>
            <ul class="footer-nav-list">
                <li><a href="/">Home</a></li>
                <li><a href="/src/pages/live-darshan/">Live Darshan</a></li>
                <li><a href="/src/pages/gallery/">Gallery</a></li>
                <li><a href="/src/pages/events/">Events</a></li>
                <li><a href="/src/pages/donation/">Donation</a></li>
                <li><a href="/src/pages/about/">About</a></li>
                <li><a href="/src/pages/contact/">Contact</a></li>
            </ul>
        </div>

        <!-- Social Links -->
        <div class="footer-social">
            <h3>Follow Us</h3>
            <ul class="footer-social-links">
                <li><a href="https://www.instagram.com/shreechamatkarikdham/" target="_blank"
                        rel="noopener noreferrer"><i class="fab fa-instagram"></i>Instagram</a></li>
                <li><a href="facebook.com/shreechamatkarikdham" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook"></i>Facebook</a>
                </li>
                <li><a href="https://www.youtube.com/@ShreeChamatkarikDham" target="_blank" rel="noopener noreferrer"><i
                            class="fab fa-youtube"></i>YouTube</a></li>
                <li><a href="#" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i>Twitter</a></li>
                <li><a href="#" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin-in"></i>LinkedIn</a>
                </li>
            </ul>
        </div>

        <!-- Donation -->
        <div class="footer-donation">
            <h3>Donation</h3>
            <ul class="footer-donation-methods">
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>

        <!-- Contact Info -->
        <div class="footer-contact">
            <h3>Contact Us</h3>
            <ul class="footer-contact-list">
                <li><strong>✉ Email:</strong><a href="mailto:info@shreechamatkarikdham.org"> info@shreechamatkarikdham.org</a></li>
                <li><strong>📞 Phone:</strong><a href="tel:+910000000000"> +910000000000</a></li>
                <li><strong>📍 Address: Shree Chamatkarik Hanumanji Mandir, A.G. Chowk, Kalawad Road, Rajkot, Gujarat,
                        360005</strong></li>
            </ul>
        </div>

        <!-- Google Map View
        <div class="footer-map">
            <h3>Find Us</h3>
            <iframe src="YOUR_EMBED_LINK" width="100%" height="220" style="border:0;border-radius:12px;" loading="lazy" allowfullscreen referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div> -->

    </div>

    <!-- Footer Bottom -->
    <div class="footer-bottom">
        <p>&copy; 2026 Shree Chamatkarik Dham. All Rights Reserved.</p>
    </div>

</footer>