<header class="header">
    <div class="header-container">

        <!-- Logo -->
        <div class="logo-container">
            <a href="/">
                <img src="/src/assets/icons/Chamatkarikhanumanji_Logo-nobg-onlylogo-png-239X239.png" class="logo-icon" width="239" height="2001" alt="Hanuman Icon">
                <!-- <img src="/src/assets/icons/Chamatkarikhanumanji_Logo-nobg-onlytext-png-340X105.png" class="logo-text" width="340" height="105" alt="Hanuman Icon"> -->
            </a>
        </div>

        <!-- Navigation -->
        <nav class="primary-nav-bar" aria-label="Main Navigation">
            <ul class="nav-links" id="navLinks">
                <li><a href="/" title="Home">Home</a></li>
                <li><a href="/src/pages/live-darshan/" title="Live Darshan">Live Darshan</a></li>
                <li><a href="/src/pages/gallery/" title="Photo Gallery">Gallery</a></li>
                <li><a href="/src/pages/events/" title="Events">Events</a></li>
                <li><a href="/src/pages/donation/" title="Donation Page">Donation</a></li>
                <li><a href="/src/pages/about/" title="About Us">About</a></li>
                <li><a href="/src/pages/contact/" title="Contact Us">Contact</a></li>
            </ul>

            <!-- Hamburger Icon -->
            <button class="hamburger" id="hamburger" aria-label="Toggle navigation menu" aria-expanded="false" aria-controls="navLinks">
                <span aria-hidden="true">☰</span>
            </button>
        </nav>

    </div>
</header>